body.excharts.index
  .modal
    .menu
      height: 400px
      overflow: auto
body.excharts.new
  overflow: hidden
  min-width: 100%
  max-width: 100%
  #nav-container
    display: none
  .required-container
    width: 100%
  .card
    background: white
    border-radius: 10px
    border: 1px solid rgba(0,0,0,.1)
    position: absolute
    top: 0
    left: 0
    right: 0
    transition: all 0.5s
    min-height: 390px
    p
      font-size: 16px
    .summary
      height: 72px
      overflow: auto
    .solution
      height: 96px
      overflow: auto
    &:first-of-type
      box-shadow: 0px 0px 6px 1px rgba(0,0,0,.3)
  input[type="submit"]
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    margin: auto
    height: 35px
    width: 40%
    z-index: 1
    display: none
  .progressbar-outline
    height: 24px
    border-radius: 14px
    box-sizing: content-box
    padding: 0
    .bar
      background-color: $brand-theme
      height: 24px
      position: absolute
      top: 0
      left: 0
      border-radius: 12px
      min-width: 24px
  .flick-button
    width: 60px
    height: 60px
    border-radius: 30px
    cursor: pointer
    &.reverse
      width: 35px
      height: 35px
      margin-top: 22px

body.excharts.show
  .result-nav
    margin-top: -20px
    border-bottom: 1px solid #D9D9D9
    li
      height: 70px
      overflow: hidden
      perspective: 500px
      position: relative
      display: inline-block
      margin-top: -14px
      z-index: 5
      cursor: pointer
      .nav-inner
        margin: 0 auto
        height: 130px
        background: $brand-theme
        transform: rotateX(55deg)
        border-radius: 8px
      p
        display: block
        position: absolute
        right: 0
        left: 0
        bottom: 0
        z-index: 3
        text-decoration: none
        padding: 5px 23px
        line-height: 30px
        color: $brand-contrast
        height: 30px
        white-space: nowrap
      &.in-active
        .nav-inner
          background: $brand-contrast
          border: 1px solid #D9D9D9
        p  
          color: $brand-dark-gray
  .card
    .js-trigger-add-practice, .js-trigger-pattern-detail
      cursor: pointer
  .current-patterns-container
    display: none

//pdf style
.pdf-col-3
  width: 23%
  float: left
.pdf-col-4
  width: 32.3%
  margin-left: 1%
  float: left
.chart-on-pdf
  width: 230px
  position: absolute
  right: 0
  top: 0
.patterns-list-on-pdf
  margin-top: 20px
  padding-left: 23px
  p
    position: relative
    &:last-of-type
      margin-bottom: 0
.explanation-on-pdf
  margin-left: 60px
  margin-bottom: 50px
.name-on-pdf
  width: 350px
  border-bottom: 1px dashed
  position: absolute
  left: 250px
  top: 35px
.decoration-on-pdf
  position: absolute
  left: -20px
.core-pattern-on-pdf
  margin-left: 32px