body.excharts.new
  overflow: hidden
  min-width: 100%
  max-width: 100%
  #nav-container
    display: none
  .required-container
    width: 100%
    &:before
      content: ""
      display: block
      padding-top: 110%
  .card
    background: white
    border-radius: 10px
    border: 1px solid rgba(0,0,0,.1)
    position: absolute
    top: 0
    left: 0
    right: 0
    transition: all 0.5s
    .summary
      height: 48px
      overflow: auto
    .solution
      height: 96px
      overflow: auto
    &:first-of-type
      box-shadow: 0px 0px 6px 1px rgba(0,0,0,.3)
  input[type="submit"]
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    margin: auto
    height: 35px
    width: 40%
    z-index: 1
    display: none
  .progressbar-outline
    height: 24px
    border-radius: 14px
    box-sizing: content-box
    padding: 0
    .bar
      background-color: $brand-theme
      height: 24px
      position: absolute
      top: 0
      left: 0
      border-radius: 12px
      min-width: 24px

body.excharts.show
  .result-nav
    margin-top: -20px
    border-bottom: 1px solid #D9D9D9
    li
      height: 70px
      overflow: hidden
      perspective: 500px
      position: relative
      display: inline-block
      margin-top: -14px
      z-index: 5
      cursor: pointer
      .nav-inner
        margin: 0 auto
        height: 130px
        background: $brand-theme
        transform: rotateX(55deg)
        border-radius: 8px
      p
        display: block
        position: absolute
        right: 0
        left: 0
        bottom: 0
        z-index: 3
        text-decoration: none
        padding: 5px 23px
        line-height: 30px
        color: $brand-contrast
      &.in-active
        .nav-inner
          background: $brand-contrast
          border: 1px solid #D9D9D9
        p  
          color: $brand-dark-gray
  .current-patterns-container
    display: none