.patterns
  .details-head
    height: 450px
    background-color: $brand-theme
    position: relative
    img
      position: absolute
      top: 20px
      right: 20px
    #text-area
      position: absolute
      bottom: 20px
      left: 10px