body.practices
  .card
    border-radius: 2px
    min-height: 115px
    .date
      position: absolute
      top: 6px
      right: 10px
  .limit-7-color
    background-color: #ADD8E6
  .limit-30-color
    background-color: #B0E0E6
  .limit-60-color
    background-color: #87CEFA
  .limit-90-color
    background-color: #66CDAA
  .limit-120-color
    background-color: #B0C4DE