body.practices
  .card
    border-radius: 10px
    min-height: 115px
    .date
      position: absolute
      top: 6px
      right: 10px
  .pri-1-color
    background-color: #F5D6D5
  .pri-2-color
    background-color: #F39E9B
  .pri-3-color
    background-color: #F98783
  .pri-4-color
    background-color: #F96863
  .notice-deco
    background-color: red
    border-radius: 20px
    padding: 4px 7px
    color: white
  input[type="checkbox"]
    display: none
    &:checked + label
      display: none
  label
    padding: 0
  .check-icon
    position: absolute
    