body.shuffles
  .card-stack
    width: 85%
    margin: 0px auto
  .card
    background: white
    border: 1px solid black
    border-radius: 10px
    position: absolute
    right: 0
    left: 0
    margin: 0 auto
    transition: all 0.5s
    display: none
    height: 360px
    &:first-of-type
      display: block
    &.show
      display: block
      &:last-of-type
        display: flex