body.registrations.new, body.sessions.new
  input
    border-top: none
    border-left: none
    border-right: none
    border-bottom: 1px black solid
    border-radius: 0px
    font-size: 18px
    &[type="submit"]
      border-bottom: 0px
      font-size: 18px