meta charset='UTF-8'

//mobile設定
link media='handheld' rel='alternate'
meta name="viewport" content="width=device-width,initial-scale=1.0"

//一般設定application-helperに詳細あり
//= display_meta_tags(default_meta_tags)