meta charset='UTF-8'

//mobile設定
link media='handheld' rel='alternate'
link rel='apple-touch-icon-precomposed' href='icons/icon-manabu.png'
meta name="viewport" content="width=device-width,initial-scale=1.0"
title Pattern App
= favicon_link_tag('icons/icon-manabu.png')

//一般設定application-helperに詳細あり
//= display_meta_tags(default_meta_tags)